body {
    background-color: rgb(130, 130, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sim {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}